---
import type { IconLink, Route } from "./types";

type Props = {
  routes: Route[];
  links: Record<string, IconLink>;
};

const { routes, links } = Astro.props;
---

<div class="flex max-md:flex-col md:gap-x-4">
  {
    routes.map((route) => (
      // inline-block is set because whitespace is significant for inline elements
      // so the newlines before and after {route.name} are rendered as spaces
      // unlike jsx astro doesn't remove the spaces https://github.com/withastro/astro/issues/6893
      <a
        class={
          "inline-block font-bold hover:underline max-md:border-b max-md:border-current max-md:py-2 max-md:pl-4"
        }
        href={route.href}
        data-route
      >
        {route.name}
      </a>
    ))
  }
</div>
<div class="flex items-center gap-x-4 max-md:mt-4 max-md:pl-4">
  {
    Object.entries(links).map(([name, { link, icon: Icon, data }]) => (
      <a
        href={link}
        title={name.toLowerCase()}
        aria-label={name.toLocaleLowerCase()}
        {...data}
      >
        <Icon />
      </a>
    ))
  }
</div>

<script>
  const setCurrentRoute = () => {
    const routes =
      document.querySelectorAll<HTMLAnchorElement>("a[data-route]");
    routes.forEach((route) => {
      const routePath = new URL(route.href).pathname;
      const currentPath = new URL(window.location.href).pathname;
      if (currentPath === routePath) {
        route.classList.add("md:underline");
      } else if (currentPath.startsWith(routePath) && routePath !== "/") {
        route.classList.add("md:underline");
      }
    });
  };

  setCurrentRoute();
  document.addEventListener("astro:after-swap", () =>
    setCurrentRoute()
  );
</script>
